doctype html
html(lang="en")
    head
        title QSOFT
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial scale=1.0')
        link(rel='stylesheet' type='text/css' href='styles/style.css')
    body
        header.header
            div.header__body
                a(href='#' onclick="return false;").header__logo-container
                    img.header__logo(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-Exz3S32WO1gsZextNsbJQtPttIcmQbOhLu7X_SJP8Ja7AWw&s" alt="logo")
                div.header__nav
                    nav.item-nav
                        a.item-nav__news(href='#' onclick="return false") Новости
                        a.item-nav__projects(href='#' onclick="return false") Проекты
                        a.item-nav__contacts(href='#' onclick="return false") Контакты
                    a.header__telephone(href='#' onclick="return false") 8(888)888-88-88
        div.about
            div.about__body
                h1.about__title Лидер в разработке интегрированных и высоконагруженных интерент-решений
                a.about__button-order(href='#' onclick="return false") Заказать
        main.news
            div.news__body
                h2.news__title Новости
                div.news__row
                    div.news__column
                        div.item-news
                            img.item-news__pic(src="https://digitaldefynd.com/wp-content/uploads/2018/12/best-marketing-analytics-course-class-certification-training-online.jpg", alt="note")
                            h3.item-news__title Разработка самого крупного портала на Битриксе в России
                            p.item-news__text Смотрите видео и читайте наш новый кейс о том, как мы объединили на одной платформе сотрудников с производства иофиса Новолипецкого металлургическкого комбината
                    div.news__column
                        div.item-news
                            img.item-news__pic(src="https://c.pxhere.com/images/cd/81/b9e15a22607016d53e0926cb5aa4-1448605.jpg!d", alt="note")
                            h3.item-news__title Как выбрать ИТ-платформу для интернет-магазина
                            p.item-news__text Об этом сегодня расскажет генеральный директор QSOFT Виталий Чесноков в школе электроннрй коммерции iWENGO
                    div.news__column
                        div.item-news
                            img.item-news__pic(src="https://image.freepik.com/free-photo/_1423-1756.jpg", alt="note")
                            h3.item-news__title Мы участвуем в выставке ECOM Expo и угощаем кофе
                            p.item-news__text Выступили с докладом про цифровую трансформацию клиентского сервиса. В ходе доклада были затронуты вопросы построения единой эко-системы для повышения эффективности работы с конечным клиентом.
        footer.footer
            div.footer__body
                span.footer__text &#64 QSOFT,2019 Работает на 1С-Битрикс: Управление сайтом, Политика конфиденциальности
                a.footer__button-subscribe(href='#' onclick="return false;") Подписаться